<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand">Zamawiaczek</a>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto" *ngIf="authenticationService.getUserToken() === ''">
		</ul>
		<ul class="navbar-nav mr-auto" *ngIf="authenticationService.getUserToken() !== ''">
			<li class="nav-item active">
				<a class="nav-link" routerLink="/items-list">Oferta</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/cart-list" [class.disabled]="cartNumItems === 0">Koszyk <span class="badge badge-pill badge-default" *ngIf="cartNumItems > 0">{{cartNumItems}}</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link disabled">Zamówienia</a>
			</li>
		</ul>
		<login-user-component></login-user-component>
	</div>
</nav>
