<div class="container">
	<div class="alert alert-danger" *ngIf="messages.length > 0">
		<strong>Informacje:</strong><br>
		<ul>
			<li *ngFor="let message of messages">{{message}}</li>
		</ul>
	</div>
	<div class="card" *ngIf="item">
		<div class="card-header"><strong>Wybrany towar: {{item.name}}</strong></div>
		<div class="card-block">
			<div *ngIf="prices">
				<form name="form" onsubmit="return false" novalidate>
					<div class="row">
						<div  class="col-md-4">
							<div *ngFor="let price of prices">
								<label>
									<input type="radio" name="selectedPrice" [(ngModel)]="selectedPrice" [value]="price" (change)="priceClick(price)">
									{{price.c_ilosc}} {{price.c_jednostka}} cena: {{price.c_cena}} PLN
								</label>
							</div>
						</div>
						<div *ngIf="selectedPrice" class="col-md-4">
							<label for="amount">Ilość</label>
							<input type="number" min="1" pattern="^[-+]?\d+$" name="amount" [(ngModel)]="amount" class="form-control mr-sm-2" placeholder="Ilość" (keyup)="amountChange()" (change)="amountChange()" required>
						</div>
						<div *ngIf="selectedPrice" class="col-md-4">
							<div><strong>Wartość: {{value}} PLN</strong></div>
							<button type="submit" class="btn btn-primary" (click)="addItemToCart()" [disabled]="processing">Do koszyka</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<br>
	</div>
</div>
