<div>
	<h1 class="page-header">To jest formularz do rejestrowania użytkownika</h1>
	<div class="alert alert-danger" *ngIf="messages.length > 0">
		<strong>Informacje:</strong><br>
		<ul>
			<li *ngFor="let message of messages">{{message}}</li>
		</ul>
	</div>
	<form name="form" novalidate>
		<div class="form-group">
			<label for="firstName">Imię</label>
			<input type="text" name="firstName" [(ngModel)]="firstName" class="form-control" placeholder="Proszę podać imię" required>
		</div>
		<div class="form-group">
			<label for="surname">Nazwisko</label>
			<input type="text" name="surname" [(ngModel)]="surname" class="form-control" placeholder="Proszę podać nazwisko" required>
		</div>
		<div class="form-group">
			<label for="email">E-mail</label>
			<input type="email" name="email" [(ngModel)]="email" class="form-control" placeholder="Proszę podać E-mail" required>
		</div>
		<div class="form-group">
			<label for="password">Hasło</label>
			<input type="password" name="password" [(ngModel)]="password" class="form-control" placeholder="Proszę podać hasło" required>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary" (click)="doRegister()" [disabled]="processiong">Rejestracja</button>
		</div>
	</form>
</div>
